.navbar-brand{
    font-family: 'Poppins', sans-serif;
}
.nav-item{
    font-family: 'Oswald', sans-serif;
}
.news-articles{
    margin:4%; 
}
.card-title{
    margin:2%;
    font-family: 'Playfair', sans-serif;
    font-style:italic;
}